.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color:var(--secondary-color);
  color: var(--white-color);
  padding: 2rem;
  flex-wrap: nowrap;
  
}
.hero-image {
  width: 40%;
  height: auto;
  padding: 1rem;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@media screen and (max-width:38.25em){
   .hero-image{
    display: none;
   } 
}
.hero-section img {
  width: 100%;
  max-width: 60rem;
  height: auto;
}
.social-links{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.social-links a{
    color: var(--primary-color);
    font-size: 2rem;
}