.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 2rem;
  flex-wrap: nowrap;
}
@media screen and (max-width: 30em) {
  .hero-section {
    width: 100%;
    flex-wrap: wrap;
    font-size: 1rem;
    scale: 1;
    padding: 3rem;
  }
}
.names-array {
  display: flex;
  font-size: 5rem;
  font-family: cursive;
  text-transform: capitalize;
}
@media screen and (max-width: 30em) {
  .names-array {
    font-size: 3rem;
  }
}
@media screen and (max-width: 20em) {
  .names-array {
    font-size: 2rem;
  }
}
.reference {
  font-size: 4rem;
}
@media screen and (max-width: 20em) {
  .reference {
    font-size: 2rem;
  }
}
.names-array p {
  opacity: 0;
  transform: translateX(250px);
  animation: slideWord 2s ease forwards;
}

@keyframes slideWord {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-image {
  width: 40%;
  height: auto;
  padding: 1rem;
  animation: image 2s ease 0s 1 normal forwards;
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 39.25em) {
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;
  }
}

.hero-section img {
  width: 100%;
  max-width: 60rem;
  height: auto;
}
.read-resume{
  display: flex;
  justify-content: center;
  padding: 1rem;
   margin-top: 2rem;
   font-size: 2rem;
   margin-bottom: 5rem;
   font-weight: 800;
 text-transform: capitalize;
   border:1px,solid,orange;
   border-top: none;
   border-left: none;
   border-right: none;
}
.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  font-weight: 800;
}
@media screen and (max-width: 30em) {
  .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .buttons button {
    width: 50%;
  }
}
.join-me-button {
  padding: 1rem 4rem;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.join-me-button:hover {
  padding: 1rem 4rem;
  border: 1px solid orange;
  color: orange;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
}
.lets-talk-button {
  padding: 1rem 4rem;
  border: 1px solid orange;
  color: orange;
  text-decoration: none;
  border-radius: 5px;
}
.lets-talk-button:hover {
  background-color: orange;
  color: white;
}
.social-links {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.social-links a {
  color: var(--primary-color);
  font-size: 2rem;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.social-links a:hover{
  color:white;
}
.no-orange {
  padding: 1rem 4rem;
  border: 1px solid orange;
  color: orange;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
}
.orange {
  padding: 1rem 4rem;
  border: 1px solid orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: orange;
}
