.About-page {
  margin-top: 7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.abouthero {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.abouthero img {
  width: 50%;
  opacity: 0.9;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content button {
  width: 30%;
  padding: 1rem;
  background-color: white;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  border: outset 3px orange;
  border-radius: 25px;
  margin-top: 2rem;
}
.about-content button:hover {
  border: inset 3px orange;
  cursor: pointer;
}
.about-content a {
  color: black;
}
.education-background-wrapper {
  display: flex;
  background-color: rgb(250, 249, 248);
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.educations-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-bottom: 1px solid orange;
  padding-bottom: 2rem;
}
.education-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  margin-top: 10rem;
  border: 1px outset;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.logoo {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3rem;
}
.logoo img {
  width: 25%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: inset orange;
  padding: 0.5rem;
}
.education-container h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.strong {
  font-weight: 600;
}

.proffesion {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.proffesion img {
  width: 50%;
}
.profession-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.goals-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 5rem;
}
.mission-wrapper,
.vission-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission,
.vission {
  display: flex;
  gap: 2rem;
  justify-content: center;
  border-radius: 10rem;
  padding: 1.5rem;
  border: 1px solid;
  border-left: 10px solid orange;
  border-right: 10px solid rgb(153, 141, 75);
}
.mission{
  border-right: 10px solid orange;
  border-left: 10px solid rgb(153, 141, 75);
}
.mission:hover,
.vission:hover{
  background-color: rgb(235, 231, 231);
  border-left: 10px solid black;
  border-right: 10px solid black;
}
.vission img {
  display: flex;
  justify-content: center;
  width: 7%;
  border-radius: 100%;
}
.mission img {
  display: flex;
  justify-content: center;
  width: 7%;
  border-radius: 100%;
}
.color{
  background-color: orange;
  display: none;
}
