/* Footer Styling */
.footer {
  background-color: #222; /* Dark background */
  color: #f4f4f4; /* Light text */
  padding: 20px 10px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-info h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff9800; /* Highlight color */
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 1.2em;
  position: relative;
}

.contact-item .icon {
  margin-right: 10px;
  color:var(--primary-color);
}

.hover-text {
  position: relative;
  cursor: pointer;
}

.hover-text .default-text {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.hover-text .reveal-text {
  display: inline-block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
}

.contact-item:hover .default-text {
  opacity: 0;
}

.contact-item:hover .reveal-text {
  opacity: 1;
}


.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.social-links li a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links li a svg {
  margin-right: 8px;
}

.social-links li a:hover {
  color: var(--white-color);
}


.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  color: #888;
}
