.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 1.5rem;
}
.experience-heading {
  color: var(--primary-color);
  font-size: 3rem;
  padding: 0.5rem;
  animation: heading 2s ease 0s 1 normal forwards;
}
@keyframes heading {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.experience-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.experience-card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: rgb(39, 31, 8);
  padding: 1rem;
  border-radius: 8px;
  padding: 2rem;
  border-right: solid var(--primary-color) 7px;
  position: relative;
  overflow: hidden;
  animation: card 2s ease 0s 1 normal forwards;
  clip-path: polygon(0% 0%, 94% 0, 100% 50%, 94% 100%, 0% 100%);
  margin: 1rem;
}
@keyframes card {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.experience-card::before,
.experience-card::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: width 1.5s ease;
}

.experience-card::before {
  top: 0;
  left: 0;
}

.experience-card::after {
  bottom: 0;
  left: 0;
}

.experience-card:hover::before,
.experience-card:hover::after {
  width: 100%;
}
.experience-card h1 {
  color: var(--primary-color);
  text-transform: capitalize;
}
.experience-card h3 {
  text-decoration: underline gold;
  margin-bottom: 0.5rem;
}
